name: build-and-test

on: push

jobs:
  test:
    strategy:
      matrix:
        stack: [heroku-22, heroku-24]
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3

    - name: Run Buildpack Compile
      run: |
        ./bin/compile . . .
      env:
        STACK: ${{ matrix.stack }}

    - name: Check Installation
      run: |
        # Trick the profile script into using working dir as HOME
        HOME="$(pwd)"
        # Verify profile script puts Chrome & Chromedriver on the PATH
        source .profile.d/chrome-for-testing.sh
        chrome --version
        chromedriver --version
  done:
    runs-on: ubuntu-latest

    needs: [test]

    steps:
      - run: echo done
        working-directory: /
